
.scroll-section {
  max-height: 300px; /* Adjust to fit within your card layout */
  overflow-y: auto;
  padding-right: 8px;
  margin-bottom: 1rem;

}


.scroll-section::-webkit-scrollbar {
  width: 6px;
}

.scroll-section::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.scroll-section::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
