<div class="p-4">
  <form (ngSubmit)="onLogin()" [formGroup]="loginForm">


    <h3 class="text-primary text-center mb-4 fw-bold">Login</h3>
    <div *ngIf="loginError" class="alert alert-danger mt-2">
      {{ loginError }}
    </div>
    <div class="mb-3">
      <label class="form-label text-primary fw-semibold">Email</label>
      <div class="input-group">
        <input type="email" class="form-control mb-1" formControlName="email" name="email" required
          [appErrorTooltip]="loginForm.get('email')" [customMessages]="{
      required: 'Email is required.',
      email: 'Please enter a valid email address.'
    }">
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label text-primary fw-semibold">Password</label>

      <div class="position-relative">
        <input [type]="showPassword ? 'text' : 'password'" class="form-control mb-1" formControlName="password"
          name="password" required>

        <i [ngClass]="showPassword ? 'fa fa-eye' : 'fa fa-eye-slash'" (click)="showPassword = !showPassword"
          class="password-toggle-icon">
        </i>
      </div>
      <small class="text-danger" *ngIf="showRequiredError">
        Password is required
      </small>

      <small class="text-danger" *ngIf="showMinLengthError">
        Password must be at least 6 characters
      </small>

    </div>
    <div class="mb-3">
      <button type="button" class="btn btn-link text-secondary float-end fw-semibold" (click)="goToSendMail()">
        Forget Password ?
      </button>
    </div>


    <button class="btn btn-primary w-100 fw-bold" type="submit">Login</button>

    <hr />
    <button class="btn google-btn w-100 fw-bold d-flex align-items-center justify-content-center gap-2" type="button"
      (click)="googleSignIn()">
      <img src="assets/google-icon.svg" width="20" height="20" alt="Google">
      Sign in with Google
    </button>



    <div class="text-center mt-3">
      <button type="button" class="btn btn-link text-primary fw-semibold" (click)="goToSignup()">
        Don’t have an account? Sign up
      </button>
    </div>

  </form>
</div>