<div class="container bg-white mt-3">
  <div class="d-flex align-items-center my-3 position-relative">
    <button (click)="goBack()" class="btn btn-outline-primary mb-2">
      <i class="fa-solid fa-angle-left"></i>
    </button>
    <h3 class="text-primary fw-bold mb-0 position-absolute start-50 translate-middle-x text-center">
      Add Your Prescription
    </h3>
  </div>

  <form [formGroup]="superPrescription" (ngSubmit)="submit()">

    <!-- Top-level info -->
    <div *ngIf="currentStep === 0">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label class="form-label  fw-semibold">Doctor Name</label>
          <input class="form-control" type="text" formControlName="doctorName">
        </div>
        <div class="col-md-6 mb-3">
          <label class="form-label  fw-semibold">Prescription Date</label>
          <input class="form-control" type="date" formControlName="prescriptionDate">
          <div *ngIf="superPrescription.get('prescriptionDate')?.hasError('required') &&
              (superPrescription.get('prescriptionDate')?.touched ||
            superPrescription.get('prescriptionDate')?.dirty)" class="text-danger">
           PrescriptionDate date is required.
          </div>

          <div *ngIf="superPrescription.get('prescriptionDate')?.hasError('invalidDate') &&
              (superPrescription.get('prescriptionDate')?.touched ||
               superPrescription.get('prescriptionDate')?.dirty)" class="text-danger">
            Enter a valid date.
          </div>

          <div *ngIf="superPrescription.get('prescriptionDate')?.hasError('minDateExceeded') &&
              (superPrescription.get('prescriptionDate')?.touched ||
               superPrescription.get('prescriptionDate')?.dirty)" class="text-danger">
            Date cannot be earlier than 1700.
          </div>

          <div *ngIf="superPrescription.get('prescriptionDate')?.hasError('maxDateExceeded') &&
              (superPrescription.get('prescriptionDate')?.touched ||
              superPrescription.get('prescriptionDate')?.dirty)" class="text-danger">
            Date cannot be later than 2040.
          </div>

        </div>
      </div>
      <div class="form-group">
        <label class="form-label  fw-semibold">Notes</label>
        <textarea class="form-control notes-textarea" formControlName="notes"></textarea>
      </div>
    </div>


    <!-- Prescription steps -->
    <div formArrayName="prescription">

      <!-- Loop but show ONLY the current step -->
      <div *ngFor="let pres of prescriptions.controls; let stepIndex = index">

        <div *ngIf="stepIndex === currentStep" [formGroupName]="stepIndex" class="prescription-block">
          <div class="col d-flex justify-content-end">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="addNewPrescription()"
              *ngIf="currentStep === prescriptions.length - 1">
              <i class="fa-solid fa-plus"></i> Add Medication Course
            </button>
          </div>

          <hr>
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="fw-semibold text-primary mb-0">
              Medication Course <span class="fw-bold">{{ stepIndex + 1 }}</span> / {{ prescriptions.length }}
            </h4>

            <button type="button" class="btn btn-danger btn-sm" (click)="removePrescription(currentStep)"
              *ngIf="currentStep > 0">
              Remove Medication Course
            </button>
          </div>

          <!-- Reason autocomplete -->
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="dropdown-container">
                <label class="form-label  fw-semibold">Reason</label>
                <input type="text" formControlName="reason" placeholder="Search medical condition" />
                <!-- Show error if user typed manually and did NOT pick from dropdown -->
                <div *ngIf="
    currentPrescriptionGroup.get('reasonValid')?.invalid &&
    currentPrescriptionGroup.get('reason')?.touched" class="text-danger">
                  Please select a condition from the dropdown.
                </div>


                <ul *ngIf="conditions.length > 0" class="dropdown">
                  <li *ngFor="let item of conditions" (click)="selectCondition(item)">
                    {{ item.name || item }}
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="form-group">
                <label class="form-label  fw-semibold">Notes</label>
                <textarea class="form-control notes-textarea" formControlName="notes"></textarea>
              </div>
            </div>

          </div>


          <!-- Medications -->
          <div formArrayName="medications">
            <div class="d-flex justify-content-end mb-2">
              <button class="btn btn-outline-primary btn-sm" type="button" (click)="addMedication(stepIndex)">
                <i class="fa-solid fa-plus"></i> Add Medication
              </button>
            </div>
            <div *ngFor="let med of getMedications(stepIndex).controls; let medIndex = index" [formGroupName]="medIndex"
              class="medication-block section mb-4 ">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h5 class="small text-primary fw-semibold mb-0">
                  Medication {{ medIndex + 1 }}
                </h5>
                <button type="button" class="btn btn-danger btn-sm" (click)="removeMedication(stepIndex, medIndex)">
                  <i class="fa-solid fa-trash me-1"></i> Remove Medication
                </button>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label class="form-label fw-semibold">Medicine</label>
                  <!-- <input type="text" [value]="currentMedicineName(stepIndex, medIndex)"
                    (input)="onMedicineInput($event, stepIndex, medIndex)" placeholder="Search medicine" /> -->
                  <input type="text" [value]="currentMedicineName(stepIndex, medIndex)"
                    (input)="onMedicineInput($event, stepIndex, medIndex)" placeholder="Search medicine" [ngClass]="{'is-invalid': getMedicationControl(stepIndex, medIndex, 'medicationId')?.invalid &&
                                 (getMedicationControl(stepIndex, medIndex, 'medicationId')?.touched ||
                                  getMedicationControl(stepIndex, medIndex, 'medicationId')?.dirty)}" />
                  <div *ngIf="getMedicationControl(stepIndex, medIndex, 'medicationId')?.hasError('notFound')"
                    class="text-danger">
                    Medicine not found, please enter valid medicine name.
                  </div>


                  <ul *ngIf="medicines.length > 0" class="dropdown">
                    <li *ngFor="let m of medicines" (click)="selectMedicine(m, stepIndex, medIndex)">
                      {{ m.brandName }}
                    </li>
                  </ul>
                </div>

                <div class="col-md-6 mb-3">
                  <label class="form-label fw-semibold">Status</label>
                  <select class="form-select" formControlName="status">
                    <option value="ACTIVE">Active</option>
                    <option value="COMPLETED">Completed</option>
                    <option value="ONHOLD">OnHold</option>
                    <option value="NOTTAKEN">NotTaken</option>
                    <option value="INTENDED">Intended</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">


                  <label class="form-label fw-semibold"> EffectiveStart Date</label>

                  <input type="date" formControlName="effectiveStartDate" />

                  <div *ngIf="getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.hasError('required') &&
              (getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.touched ||
               getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.dirty)" class="text-danger">
                    Effective start date is required.
                  </div>

                  <div *ngIf="getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.hasError('invalidDate') &&
              (getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.touched ||
               getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.dirty)" class="text-danger">
                    Enter a valid date.
                  </div>

                  <div *ngIf="getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.hasError('minDateExceeded') &&
              (getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.touched ||
               getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.dirty)" class="text-danger">
                    Date cannot be earlier than 1700.
                  </div>

                  <div *ngIf="getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.hasError('maxDateExceeded') &&
              (getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.touched ||
               getMedicationControl(stepIndex, medIndex, 'effectiveStartDate')?.dirty)" class="text-danger">
                    Date cannot be later than 2040.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label class="form-label fw-semibold"> EffectiveEnd Date</label>
                  <input type="date" formControlName="effectiveEndDate" />
                  <div *ngIf="getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.hasError('required') &&
              (getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.touched ||
               getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.dirty)" class="text-danger">
                    Effective start date is required.
                  </div>

                  <div *ngIf="getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.hasError('invalidDate') &&
              (getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.touched ||
               getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.dirty)" class="text-danger">
                    Enter a valid date.
                  </div>

                  <div *ngIf="getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.hasError('minDateExceeded') &&
              (getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.touched ||
               getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.dirty)" class="text-danger">
                    Date cannot be earlier than 1700.
                  </div>

                  <div *ngIf="getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.hasError('maxDateExceeded') &&
              (getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.touched ||
               getMedicationControl(stepIndex, medIndex, 'effectiveEndDate')?.dirty)" class="text-danger">
                    Date cannot be later than 2040.
                  </div>
                </div>
              </div>
              <hr />

              <!-- Dosage -->
              <div formGroupName="dosage">
                <h6 class="fw-bold">Dosage</h6>
                <div class="row">
                  <div class="col">
                    <label>Amount</label>
                    <input type="number" class="form-control" formControlName="amount">
                  </div>

                  <div class="col position-relative">
                    <label>Unit</label>
                    <input type="text" [value]="currentAmountUnitName(stepIndex, medIndex)"
                      (input)="onAmountUnitInput($event, stepIndex, medIndex)" placeholder="Search amount unit" />
                    <div *ngIf="getAmountControl(stepIndex, medIndex, 'amountUnitId')?.hasError('notFound')"
                      class="text-danger">
                      Amount not found, please enter valid amount unit.
                    </div>
                    <ul *ngIf="amountUnit.length > 0" class="dropdown">
                      <li *ngFor="let u of amountUnit" (click)="selectAmountUnit(u, stepIndex, medIndex)">
                        {{ u.conceptName }}
                      </li>
                    </ul>
                  </div>

                  <div class="col position-relative">
                    <label>Route</label>
                    <input type="text" [value]="currentRouteName(stepIndex, medIndex)"
                      (input)="onRouteInput($event, stepIndex, medIndex)" placeholder="Search route of medicine" />
                    <div *ngIf="getRouteControl(stepIndex, medIndex, 'routeId')?.hasError('notFound')"
                      class="text-danger">
                      Route not found, please select a valid route from the dropdown.
                    </div>

                    <ul *ngIf="routeUnit.length > 0" class="dropdown">
                      <li *ngFor="let u of routeUnit" (click)="selectRoute(u, stepIndex, medIndex)">
                        {{ u.conceptName }}
                      </li>
                    </ul>
                  </div>
                </div>


                <label>Instruction</label>
                <input type="text" formControlName="instruction" />
              </div>
              <hr />
              <!-- Timing -->
              <div formGroupName="timing">
                <h6 class="fw-bold">Timing</h6>

                <div class="row">
                  <div class="col">
                    <label>Frequency</label>
                    <input type="number" class="form-control" formControlName="frequency">
                  </div>
                  <div class="col">
                    <label>Period</label>
                    <input type="number" class="form-control" formControlName="period">
                  </div>
                  <div class="col">
                    <label>Unit</label>
                    <select class="form-select" formControlName="periodUnit">
                      <option *ngFor="let r of periodUnit" [value]="r.value">{{ r.display }}</option>
                    </select>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col">
                    <label>Time of Day</label>
                    <input type="time" formControlName="timeOfDay" step="1" />
                  </div>
                  <div class="col">
                    <label>When Code</label>
                    <select class="form-select" formControlName="whenCode">
                      <option *ngFor="let w of whenCode" [value]="w.value">{{ w.display }}</option>
                    </select>
                  </div>
                </div>
                <p class="mt-2 alert alert-info"
                  *ngIf="timingDescriptions[stepIndex] && timingDescriptions[stepIndex][medIndex]">
                  {{ timingDescriptions[stepIndex][medIndex] }}
                </p>



              </div>

              <hr />
            </div>
          </div>
          <hr />

        </div> <!-- END currentStep block -->
      </div>
    </div>

    <!-- Step navigation -->
    <div class="step-buttons">
      <div class="d-flex justify-content-between align-items-center mt-3">

        <!-- Previous Button -->
        <button type="button" class="btn btn-outline-secondary" (click)="prevStep()" *ngIf="currentStep > 0">
          <i class="fa-solid fa-arrow-left me-1"></i> Previous
        </button>

        <!-- Submit Button (only on last step) -->
        <button *ngIf="currentStep === prescriptions.length - 1" type="submit" class="btn btn-primary">
          <i class="fa-solid fa-paper-plane me-1"></i> Submit All
        </button>

        <!-- Next Button -->
        <button type="button" class="btn btn-outline-secondary" (click)="nextStep()"
          *ngIf="currentStep < prescriptions.length - 1">
          Next <i class="fa-solid fa-arrow-right ms-1"></i>
        </button>

      </div>

    </div>

  </form>
</div>