<div class="card profile-card">
  <div class="container mt-4">
    <button (click)="goBack()" class="btn btn-outline-primary btn-sm mb-3">
      <i class="fa-solid fa-angle-left"></i> Back
    </button>
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h2 class="text-primary mb-0 profile-title">Your Allergies</h2>

      <button class="btn btn-primary" (click)="addAllergy()">
        + Add Allergy
      </button>
    </div>

    <div
      *ngFor="let a of allergies"
      class="card shadow-sm mb-3 p-3"
      style="background-color: #f8fbff; color: #236ad7"
    >
      <div class="d-flex justify-content-between align-items-center">
        <h4>{{ a.allergyName }}</h4>

        <div>
          <button
            class="btn btn-warning btn-sm me-2"
            (click)="updateAllergy(a)"
          >
            Update
          </button>
          <button class="btn btn-danger btn-sm" (click)="deleteAllergy(a.id)">
            Delete
          </button>
        </div>
      </div>

      <p><strong>Category:</strong> {{ a.category }}</p>
      <p><strong>Criticality:</strong> {{ a.criticality }}</p>
      <p><strong>Onset Date:</strong> {{ a.onsetDate }}</p>
    </div>
  </div>
</div>
