<nav class="sidebar">
  <ul class="nav flex-column flex-md-column w-100">
    <li class="nav-item">
      <a class="nav-link" routerLink="/user" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <i class="fa fa-home"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/user/medications" routerLinkActive="active">
        <i class="fa-solid fa-tablets"></i>
        <span>Medications</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/lab-tests" routerLinkActive="active">
        <i class="fa-solid fa-microscope"></i>
        <span>Lab Tests</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/health-tracker" routerLinkActive="active">
        <i class="fa-solid fa-heart-circle-plus"></i>
        <span>Health Tracker</span>
      </a>
    </li>
  </ul>
</nav>
