<div class="auth-root">
  <div class="auth-card shadow-lg">
    <ng-container [ngSwitch]="currentStep">
      <!-- Login -->
      <app-login *ngSwitchCase="'login'" (signupRequest)="goToStep('signup')" (loginSuccess)="onLoginSuccess()"
        (passwordReset)="goToStep('send-mail')">

      </app-login>
      <!-- Signup -->
      <app-register *ngSwitchCase="'signup'" (signupSuccess)="onSignupSuccess($event)"
        (cancelSignup)="goToStep('login')">
      </app-register>
      <!-- OTP -->
      <app-verification *ngSwitchCase="'otp'" [signupData]="signupResponse" (otpVerified)="goToStep('login')">
      </app-verification>
      <app-send-email *ngSwitchCase="'send-mail'">
      </app-send-email>

    </ng-container>
  </div>
</div>