<div class="landing-container container-fluid">
  <div class="row align-items-center min-vh-100 m-5">
    <!-- Left Section -->
    <div class="col-md-6 col-12 text-section text-md-start text-center">
      <h1 class="fw-bold display-4 mb-4 text-primary-dark">
        CHITRAGUPT
      </h1>
      <p class="lead fw-semibold mb-4 text-muted ">
       From daily medication tracking and lab result monitoring to achieving your personal wellness goals, take control of your entire health journey. Simple, secure, and uniquely yours.
      </p>
      <button class="btn btn-primary px-4 py-2 fw-bold rounded-3 shadow-sm" (click)="navigateToAuth()">
       
        Get Started
      </button>
    </div>
    <!-- Right Section -->
    <div class="col-md-6 col-12 text-center image-section mt-5 mt-md-0">
      <img
        src="assets/LandingPage.png"
        alt="Health Tracker Illustration"
        class="img-fluid "
      />
    </div>
  </div>
</div>