
<app-patient-contact-details
  *ngIf="!patientContactsComplete"
  (contactSubmitted)="onContactSubmitted()">
</app-patient-contact-details>

<app-patient-details
  *ngIf="patientContactsComplete && !patientDetailsComplete"
  (detailsSubmitted)="onDetailsSubmitted()">
</app-patient-details>


<app-patient-allergy
  *ngIf="patientContactsComplete && patientDetailsComplete && !patientAllergyComplete"
  (allergySubmitted)="onAllergySubmitted()">
</app-patient-allergy>


<div class="user-layout" *ngIf="patientContactsComplete && patientDetailsComplete && patientAllergyComplete">
  <app-sidebar></app-sidebar>

  <div class="content-area">
    <h4>
      {{ greetingMessage }} {{ userName }}!
    </h4>

    <router-outlet></router-outlet>
  </div>
</div>
