<div style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1000">
  <app-header
    [showProfileButton]="
      patientContactsComplete &&
      patientDetailsComplete &&
      patientAllergyComplete
    "
  ></app-header>
</div>

<div style="margin-top: 60px">
  <!-- Show contact form first -->
  <app-patient-contact-details
    *ngIf="!patientContactsComplete"
    (contactSubmitted)="onContactSubmitted()"
  ></app-patient-contact-details>

  <!-- Then show profile -->
  <app-patient-details
    *ngIf="patientContactsComplete && !patientDetailsComplete"
    (detailsSubmitted)="onDetailsSubmitted()"
  ></app-patient-details>

  <!-- Then show allergy -->
  <app-patient-allergy
    *ngIf="
      patientContactsComplete &&
      patientDetailsComplete &&
      !patientAllergyComplete
    "
    (allergySubmitted)="onAllergySubmitted()"
  ></app-patient-allergy>

  <!-- Finally show dashboard -->
  <div
    class="user-layout"
    *ngIf="
      patientContactsComplete &&
      patientDetailsComplete &&
      patientAllergyComplete
    "
  >
    <div style="display: flex">
      <app-sidebar></app-sidebar>

      <div class="content-area" style="flex: 1; padding: 20px">
        <h4>{{ greetingMessage }} {{ userName }}!</h4>
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>