.user-layout {
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
}
.content-area {
  flex: 1;
  margin-left: 221px; 
  padding: 2rem;
  background-color: #f8f9fa;
  min-height: 100vh;
min-width: calc(100vw - 221px);

  transition: all 0.3s ease-in-out;
  
}

/* Responsive: when sidebar moves to bottom */
@media (max-width: 768px) {
  .user-layout {
    flex-direction: column;
  }

  .content-area {
    margin-left: 0;
    margin-bottom: 60px; /* height of bottom sidebar */
    padding: 1rem;
  }
}
